*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html{
    background-color: #ffe4e1;
}

.menu {
    display: flex;
    margin-right: 10px;
}


.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 5px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 87px;
    background: #ffe4e1;
    position: fixed;
    width: 100%;
    z-index: 100;
    border-bottom: 2px solid pink;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 22px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 11px;
    font-weight: bold;
}

.menu a {
    display: block;
    padding: 20px 20px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}

.menu1 {

    font-family: 'Amatic SC', cursive;
    
}

nav a:hover {
    background: #e783ba;
}

header {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 3rem;
}

h2 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    padding-top: 5%;
}

h3{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
}


p{
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    text-align: center;
    padding-right: 3rem;
    padding-left:3rem ;
    text-align: justify;
}

.imagen img{
    margin-top: 20%;
    border-radius: 5%;
    border: 0;
    bottom: 0;
}

.content {
    padding-top: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 10px;
    background: #1f1d1d
}

.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.contenedor .box {
    height: 15rem;
    width: 15rem;
    background: #d881aa;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
}

.contenedor i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #fa5f49;
    font-size: 2rem;
    margin: 1rem 0;
}
.contenedor img{
margin-top: 10%;
border-radius: 5%;
border: 0;
bottom: 0;
align-items: center;
}

footer {
    background-color: #d881aa;
    text-align: center;
}

footer p{

    text-align: center;
}

footer a{
    text-decoration: none;
    color: #000;
    margin-left: 10px;
    margin-left: 10px;
    justify-content: space-between;
}
footer img{

    padding-top: 1%;
    padding-bottom: 1%;
}

footer{

    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    color: #000;
    text-align: center;
}


